header {
    max-width: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    transition: .3s;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    &.on {
        border-radius: 10px;
        top: 2%;
    }
    & > nav {
        width: 100%;
        transition: .6s;
        overflow: hidden;
        &.nav_on {
            max-height: 270px;
        }
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        li {
            text-align: center;
            padding: 15px 10px;
            color: #fff;
            cursor: pointer;
            position: relative;
            &:after {
                content: '';
                width: calc(100% - 20px);
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 17px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: #fff;
                transition: .3s;
            }
            &:hover:after {
                width: calc(100% - 20px);
            }
        }
    }

    & > .ham_btn {
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, .8);
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 0;
        transition: .3s;
        visibility: hidden;
        border-bottom-right-radius: 10px;
        span {
            width: 60%;
            height: 2px;
            background-color: #fff;
            display: inline-block;
        }
    }

    & > .ham_btn_on {
        left: 100px;
    }
}

@media screen and (max-width: 480px) {
    header {
        max-width: 100px !important;
        top: 0 !important;
        left: 50px;
        right: -50px;
        &.on {
            border-radius: 0;
        }
        nav {
            max-height: 0;
        }
        .ham_btn {
            visibility: initial;
        }
    }
}